ul
{
	list-style-type: none;
	margin-bottom: 0.8em;
}
#menu
{
	font-family: Verdana;
	font-size: 0.8em;
	position: fixed;
}
#nia
{
	font-family: Geneva;
	margin-left: 25%;
}
.couleur13
{
	background-color: #f77a65;
}
.couleur14
{
	background-color: #ffa426;
}
.couleur15
{
	background-color: #f4ee42;
}